/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

header {
    background-color: #4e79b1; /* Dark blue color */
    color: #ffffff;
    padding: 10px;
    content: center;
    display: flex;
    top: 0;
    height: 15vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .titleimage {
    min-height: fit-content;
    min-width: fit-content;
  }

  #about
  {
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
  }
  
  nav ul li a:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  nav ul li a:hover:after,
  nav ul li a.active:after {
    transform: scaleX(1);
  }
  
  section {
    flex: 1;
    padding: 20px;
  }
  
  #content {
    position: relative;
    padding: 0;
    margin: 0;
    top: 15vh;
    height: 75vh;
    position: fixed;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0;
  }
  
  .overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: black;
    padding: 20px;
    opacity: 0.8;
  }
  
  .overlay h2 {
    font-size: 2.5rem; /* 2.5 times the root font size */
    font-weight: bold;
  }
  
  .overlay p {
    font-size: 1.8rem; /* 1.8 times the root font size */
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #f2f2f2;
    background-color: #4e79b1;
    padding: 20px;
    text-align: center;
  }
  
  .service-container {
    display: flex;
    justify-content: space-between;
  }
  
  .service-card {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    flex-basis: calc(33.33% - 20px);
  }
  
  .service-card:hover {
    background-color: #d9d9d9;
  }
  
  .service-card h3 {
    margin-top: 0;
  }
  
  .service-card ul {
    padding-left: 20px;
    margin-top: 10px;
  }
  
  .service-card ul li {
    list-style-type: disc;
  }

  .service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .service-card {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    flex-basis: 100%;
    margin-bottom: 20px;
    font-size: 12px;
  }
  
  #form {
    padding-top: 20px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 900px) {
    .service-container {
      flex-wrap: nowrap;
    }
    
    .service-card {
      flex-basis: calc(33.33% - 20px);
      margin-bottom: 0;
      min-height: 0;
      font-size: 20px;
      min-height: 40vh;
    }
  }
  
  @media (max-width: 899px) and (max-height: 1500px) {
    /* Adjust font sizes for mobile */
    html {
      font-size: 12px;
    }

    .titleimage {
        content: url('Long_Image.jpg');
        width: 899px;
        align-content: center;
      }
  
    .overlay h2 {
      font-size: 1.9rem;
    }
  
    .overlay p {
      font-size: 1.8rem;
    }

    header{
        height: 20vh;
    }

    #content{
        top: 20vh;
        height: 65vh;
    }

    header nav ul li a {
        font-size: 1.9rem; /* Increase the font size for mobile devices */
    }
}

